<ion-content>
    <div class="daily-log-date">
        <button class="date-arrow-btn" (click)="goToPreviousDay()">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
                <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
            </svg>
        </button>

        <span class="todays-date">
            <span> {{ today | displayDate}} </span>
        </span>
        <button class="date-arrow-btn" (click)="goToNextDay()" [disabled]="isToday">

            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                [attr.fill]="isToday ? '#9c9c9c' : '#222'">
                <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
            </svg>
        </button>
    </div>
    <div cdkDropList [cdkDropListData]="dailyLog?.meals ?? []" (cdkDropListDropped)="dropMeal($event)"
        class="daily-log-list">
        <ion-card *ngFor="let meal of dailyLog?.meals ?? []" cdkDrag (click)="openMealDetails(meal)"
            [class.disabled-card]="isTooOld" (press)="openMealActions(meal, $event)">
            <div *ngIf="isTooOld" class="locked-overlay"></div>

            <ion-card-header>
                <ion-card-title>
                    {{ meal.type }}
                </ion-card-title>
                <ion-button *ngIf="!isTooOld" class="svg-to-hide" fill="clear" size="small"
                    (click)="openMealActions(meal, $event)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#888">
                        <circle cx="5" cy="12" r="2"></circle>
                        <circle cx="12" cy="12" r="2"></circle>
                        <circle cx="19" cy="12" r="2"></circle>
                    </svg>
                </ion-button>

            </ion-card-header>

            <ion-card-content>
                <div class="meal-content">
                    <ng-container>
                        <div class="meal-macros-row">
                            <div class="macro-block calories">
                                <div class="macro-label">Calories</div>
                                <div class="macro-value">
                                    {{ meal.totalMealCalories || 0 | smartNumber}}<span class="macro-unit">kcal</span>
                                </div>
                            </div>
                            <div class="macro-block proteins">
                                <div class="macro-label">Proteins</div>
                                <div class="macro-value">
                                    {{ meal.totalMealProteins || 0 | smartNumber}}<span class="macro-unit">g</span>
                                </div>
                            </div>
                            <div class="macro-block carbs">
                                <div class="macro-label">Carbs</div>
                                <div class="macro-value">
                                    {{ meal.totalMealCarbs || 0 | smartNumber}}<span class="macro-unit">g</span>
                                </div>
                            </div>
                            <div class="macro-block fats">
                                <div class="macro-label">Fats</div>
                                <div class="macro-value">
                                    {{ meal.totalMealFats || 0 | smartNumber}}<span class="macro-unit">g</span>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>

            </ion-card-content>
        </ion-card>

        <div *ngIf="!isTooOld" class="add-meal-dashed-box" (click)="addNewMeal()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#3b82f6">
                <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
            </svg>
            <span>Dodaj obrok</span>
        </div>
    </div>
</ion-content>