<ion-content class="ion-padding">
    <div class="register-wrap">
        <div class="logo">NutriTrack</div>
        <span class="flavour-text">Track your meals & macros easily</span>


        <!-- underline inputi -->
        <ion-list>
            <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input name="username" type="text" [(ngModel)]="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input name="email" type="email" [(ngModel)]="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input name="password" type="password" [(ngModel)]="password"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Repeat Password</ion-label>
                <ion-input name="confirmPassword" type="password" [(ngModel)]="confirmPassword"></ion-input>
            </ion-item>
        </ion-list>

        <ion-text color="danger" *ngIf="errorMessage" class="error-text">
            {{ errorMessage }}
        </ion-text>

        <!-- gumbi -->
        <ion-button expand="block" class="btn btn-primary" (click)="register()">
            Sign up
        </ion-button>

        <ion-button expand="block" class="btn btn-outline" fill="outline" routerLink="/login" routerDirection="back">
            Already have an account?
        </ion-button>
    </div>
</ion-content>