.top-text h2{
    padding: 20px;
}

.dashboard-swiper {
    margin-top: 12px;
    width: 100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-box {
    background: #fff;
    border-radius: 24px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    padding: 24px 16px 34px 16px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 36px;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}

.dashboard-header .category {
    font-size: 1.13rem;
    font-weight: 600;
    color: #222;
    margin: 0;
    letter-spacing: 0.01em;
}

.dashboard-header .subtext {
    font-size: 1rem;
    font-weight: 400;
    color: #666;
    margin: 0;
    letter-spacing: 0.01em;
}


.dashboard-calorie-slide {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}

.dashboard-calorie-circle {
    flex: 0 0 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-calorie-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.dashboard-calorie-text .goal-row,
.dashboard-calorie-text .food-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.dashboard-macros-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



