<!-- Search -->
<div class="meal-header">
    <button class="back-btn" (click)="goBack()">
        <img src="../../../../assets/media/arrow_back.svg" alt="">
    </button>
</div>

<div class="meal-search-wrapper">
    <ion-searchbar placeholder="Search food..." [(ngModel)]="searchTerm" (ionInput)="onSearch()" debounce="300"
        mode="ios" showClearButton="focus">
    </ion-searchbar>
</div>


<ion-list class="food-list">
    <!-- Skeleton dok se učitava -->
    <ng-container *ngIf="!loading; else skeleton">
        <ion-item *ngFor="let food of foodList" lines="full" class="food-card">
            <ion-label class="food-label">
                <div class="header-row">
                    <div class="title">
                        {{ food.product_name || 'Unnamed product' }}
                    </div>
                    <ion-badge class="gram-badge">100g</ion-badge>
                </div>

                <div class="food-macros-grid">
                    <div class="macro macro-calories">
                        <span>Calories(kcal)</span>
                        <strong>{{ food.nutriments?.['energy-kcal_100g'] | number:'1.0-0' }}</strong>
                    </div>
                    <div class="macro macro-proteins">
                        <span>Proteins(g)</span>
                        <strong>{{ food.nutriments?.['proteins_100g'] | number:'1.0-1' }}</strong>
                    </div>
                    <div class="macro macro-carbs">
                        <span>Carbs(g)</span>
                        <strong>{{ food.nutriments?.['carbohydrates_100g'] | number:'1.0-1' }}</strong>
                    </div>
                    <div class="macro macro-fats">
                        <span>Fats(g)</span>
                        <strong>{{ food.nutriments?.['fat_100g'] | number:'1.0-1' }}</strong>
                    </div>
                </div>
            </ion-label>

            <ion-button slot="end" color="primary" size="small" class="add-box"
                (click)="addFoodToMeal(food); $event.stopPropagation()">
                + Add
            </ion-button>
        </ion-item>

        <ion-item *ngIf="!loading && foodList.length === 0 && searchTerm" lines="none">
            <ion-label>No food found.</ion-label>
        </ion-item>
    </ng-container>

    <ng-template #skeleton>
        <div class="skeleton-card" *ngFor="let i of [1,2,3,4]">
            <ion-item lines="none">
                <ion-label class="skeleton-label">
                    <!-- title row -->
                    <div class="header-row">
                        <ion-skeleton-text animated style="width: 120px; height: 16px;"></ion-skeleton-text>
                        <ion-skeleton-text animated
                            style="width: 40px; height: 20px; border-radius: 12px;"></ion-skeleton-text>
                    </div>

                    <!-- macros grid -->
                    <div class="food-macros-grid">
                        <div class="macro" *ngFor="let j of [1,2,3,4]">
                            <ion-skeleton-text animated style="width: 70px; height: 14px;"></ion-skeleton-text>
                            <ion-skeleton-text animated style="width: 30px; height: 14px;"></ion-skeleton-text>
                        </div>
                    </div>
                </ion-label>
                <ion-skeleton-text animated style="width: 60px; height: 28px; border-radius: 8px;" slot="end">
                </ion-skeleton-text>
            </ion-item>
        </div>
    </ng-template>
    <!-- Card row -->

</ion-list>