<div class="step-wrapper">
    <p class="intro-text">
        Thanks! Your birthday helps us personalize your plan.
    </p>

    <ion-text class="title">
        <h2>What’s your date of birth?</h2>
    </ion-text>

    <div class="age-picker">
        <ion-card class="age-card">
            <ion-card-content>
                <ion-datetime presentation="date" [value]="age" [min]="minDate" [max]="maxDate"
                    (ionChange)="onAgeChange($event)" [preferWheel]="false" showDefaultButtons="false">
                </ion-datetime>
            </ion-card-content>
        </ion-card>
    </div>
</div>